@model GestionEvenement.Models.InscriptionUserEvenement

    <div class="container">
        <h2 class="text-capitalize text-center">Reservez !</h2>
        <hr />

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <input type="hidden" id="DateResa" name="DateResa" value="@Model.DateResa" />
            <input type="hidden" id="IdUser" name="IdUser" value="@Model.IdUser" />
            <input type="hidden" id="IdEvenement" name="IdEvenement" value="@Model.IdEvenement" />

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Remarque, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Remarque, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remarque, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center my-3 col-md-12">
                        <input type="submit" value="Modifier" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Administrateur"))
            {
                <div>
                    @Html.ActionLink("Liste des inscriptions", "Index")
                </div>
            }
            <div>
                @Html.ActionLink("Mes inscription", "GetEventsOfUser", new { currentUser = ViewBag.IdCurrentUser })
            </div>

        }

    </div>


