@model GestionEvenement.Models.TrancheAge

<h2 class="text-center">On supprime la tranche d'âge, c'est sûr ?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeMax)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color my-3 text-center">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Liste des tranche d'âge", "Index")
        </div>
    }
</div>

