@model GestionEvenement.Models.Evenement

    <div>

        <h2 class="text-center text-capitalize my-4">On supprime, c'est sûr ? </h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 30rem;">
                    <img src="@Url.Content(Model.Image)" alt="Ma photo" class="card-img-top" width="300" height="280" />

                    <div class="card-body text-center">
                        <h5 class="card-title"> @Html.DisplayFor(model => model.Libelle)</h5>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Description : @Html.DisplayFor(model => model.Description)</li>
                        <li class="list-group-item">Adresse :  @Html.DisplayFor(model => model.Adresse.Numero)  @Html.DisplayFor(model => model.Adresse.Rue)  @Html.DisplayFor(model => model.Adresse.CodePostal)  @Html.DisplayFor(model => model.Adresse.Ville) </li>
                        <li class="list-group-item">Tranche d'âge de l'activité :  @Html.DisplayFor(model => model.TrancheAge.Libelle) </li>
                        <li class="list-group-item">Catégorie de l'événement :   @Html.DisplayFor(model => model.Type.Libelle)</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 30rem;">
                    <img src="~/Image/calendrier.jpg" alt="Ma photo" class="card-img-top" width="300" height="280" />
                    <div class="card-body">
                        <h5 class="card-title text-center"> Mais c'est quand ?</h5>

                    </div>
                    <ul class="list-group list-group-flush">


                        <li class="list-group-item">Date de début : @Html.DisplayFor(model => model.DateDebut)</li>
                        <li class="list-group-item">Date de fin : @Html.DisplayFor(model => model.DateFin)</li>
                        <li class="list-group-item">Date limite d'inscription : @Html.DisplayFor(model => model.DateLimiteInscription)</li>
                        <li class="list-group-item">Durée : @Html.DisplayFor(model => model.Duree)</li>


                    </ul>
                </div>
            </div>
        </div>
        @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Libelle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Libelle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateDebut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateDebut)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateFin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateFin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Duree)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duree)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateLimiteInscription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateLimiteInscription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adresse.Rue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adresse.Rue)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrancheAge.Libelle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrancheAge.Libelle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type.Libelle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type.Libelle)
            </dd>

        </dl>*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color my-3 text-center">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Liste des événements", "Index")
            </div>
        }
    </div>

